---
layout: default
---
<div class="wrapper">
<div class="page">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  {% include page_divider.html %}

  <article class="post-content">
    {{ content }}
    {% include page_divider.html %}
    {% include members.html %}
    {% include page_divider.html %}
    <p>
        The Edinburgh University Quiz Society operates in line with
        <a href="https://www.eusa.ed.ac.uk/resources/QuizSoc/Quiz-Society-Constitution/">
          our consitution.
        </a>
    </p>
  </article>

</div>
</div>
